body{
background:#f4f4f4;
font-family:Arial, sans-serif;
text-align:center;
margin:20px;
}

h1{
margin-bottom:40px;
}

.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.2);
width:350px;
}

.card h2{
margin-bottom:15px;
}


.penguins img{
    width:300px;

    border-radius:50%;

    border:2px solid #c8c8c8;

    filter:
        sepia(35%)
        saturate(120%);
}


.dinosaur img{
width:250px;

filter:
    hue-rotate(75deg)
    saturate(130%);
filter:
    hue-rotate(75deg)
    saturate(130%)
    drop-shadow(10px 10px 8px rgba(0,0,0,.7));

}


.seagull{
padding:15px;

background:
linear-gradient(
    135deg,
    #c5b8ff 0%,
    #ffffff 100%
);

}

.seagull img{
width:100%;
}


.butterfly{
width:300px;
margin:auto;
position:relative;
}

.butterfly img{
width:100%;

border-top-left-radius:55px;
border-bottom-right-radius:55px;
filter:
    invert(100%)
    brightness(115%);

}

.butterfly{
    width:300px;
    margin:auto;
    position:relative;
}

.butterfly img{
    width:100%;

    display:block;

    border-top-left-radius:55px;
    border-bottom-right-radius:55px;

    filter:
        invert(100%)
        brightness(115%);
}

.butterfly::after{
    content:"";

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(255,255,255,0.25);

    border-top-left-radius:55px;
    border-bottom-right-radius:55px;

    z-index:2;
}


.theater{
position:relative;
}

.theater img{
width:100%;
filter:blur(2px);
}

.presenting{
position:absolute;

top:50%;
left:50%;
transform:translate(-50%, -50%);
color:white;
font-size:32px;
text-shadow:
    3px 3px 5px black;

}


.football{
position:relative;
width:300px;
margin:auto;
}

.field{
width:100%;
display:block;

filter:grayscale(100%);

}

.overlay{
position:absolute;

top:-28px;
left:-28px;
width:356px;
height:calc(100% + 56px);
opacity:1;

}

.football-frame{
    display:inline-block;

    font-size:22px;

    font-weight:bold;

    color:black;
}

.top-row,
.bottom-row{
    letter-spacing:8px;
    margin:5px 0;
}

.middle{
    display:flex;
    align-items:center;
    gap:10px;
}

.side{
    line-height:1.7;
}

.field{
    width:300px;
    display:block;

    filter:grayscale(100%);
}
